![arangodb](https://github.com/arangodb/interactive_tutorials/blob/master/notebooks/img/ArangoDB_logo.png?raw=1)

# AQL CRUD Tutorial

<a href="https://colab.research.google.com/github/arangodb/interactive_tutorials/blob/master/notebooks/AqlCrudTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is an introduction to ArangoDB’s query language AQL, built around a small dataset of characters from the novel and fantasy drama television series Game of Thrones (as of season 1). It includes character traits in two languages, some family relations, and last but not least a small set of filming locations, which makes for an interesting mix of data to work with.

In addition to the python interface, you can interact with ArangoDB using its web interface to manage collections and execute the queries.

# Setup

Before getting started with ArangoDB we need to prepare our environment and create a temporary database on ArangoDB's managed Service Oasis.

In [4]:
%%capture
!git clone -b oasis_connector --single-branch https://github.com/arangodb/interactive_tutorials.git
!rsync -av interactive_tutorials/ ./ --exclude=.git
!pip3 install pyarango
!pip3 install "python-arango>=5.0"

In [5]:
import json
import requests
import sys
import oasis
import time

from pyArango.connection import *
from arango import ArangoClient

Create the temporary database:

In [6]:
# Retrieve tmp credentials from ArangoDB Tutorial Service
login = oasis.getTempCredentials(tutorialName="AQLCrudTutorial", credentialProvider='https://tutorials.arangodb.cloud:8529/_db/_system/tutorialDB/tutorialDB')

# Connect to the temp database
conn = oasis.connect(login)
pyAr_db = conn[login["dbName"]]

Requesting new temp credentials.
Temp database ready to use.

In [7]:
python_arango_db = oasis.connect_python_arango(login)
aql = python_arango_db.aql

In [8]:
print("https://{}:{}".format(login["hostname"], login["port"]))
print("Username: " + login["username"])
print("Password: " + login["password"])
print("Database: " + login["dbName"])

https://tutorials.arangodb.cloud:8529
Username: TUTrf3s5k1s3cv531qzues7f
Password: TUT4g9busppywwqev1zwqvbf
Database: TUTndg5mitk6n8b6tmklei8l

Feel free to use to above URL to checkout the UI!

##  Creating Collections

Before we can insert documents with AQL, we need a place to put them in – a collection. Collections can be managed via the web interface, arangosh or a driver. It is not possible to do so with AQL however.

In [9]:
# Create collection using pyArango driver
pyAr_db.createCollection(name="Characters")

# Creating collections with python-arango
# Since the collection is created above this should always pass
if python_arango_db.has_collection("Characters"):
  pass
else:
  python_arango_db.create_collection("Characters")

##  Creating and Reading Documents

The syntax for creating a new document is `INSERT document INTO collectionName`. The document is an object like you may know it from JavaScript or JSON, which is comprised of attribute key and value pairs. The quotes around the attribute keys are optional in AQL. Keys are always character sequences (strings), whereas attribute values can have different types:

* null
* boolean (true, false)
* number (integer and floating point)
* string
* array
* object

Name and surname of the character document we inserted are both string values. The alive state uses a boolean. Age is a numeric value. The traits are an array of strings. The entire document is an object.

In [10]:
insert_query = """
INSERT {
    "name": "Ned",
    "surname": "Stark",
    "alive": true,
    "age": 41,
    "traits": ["A","H","C","N","P"]
} INTO Characters
"""
# python-arango
aql.execute(insert_query)

# pyArango
#pyAr_db.AQLQuery(insert_query)

*Note: You can also execute all the queries from the ArangoDB Web UI which you can access using the link and login information above.*

![ui](https://github.com/arangodb/interactive_tutorials/blob/master/notebooks/img/query_ui.png?raw=1)

Let us check whether the insert was sucessfull querying the `Characters` collections. The syntax of the loop is `FOR variableName IN collectionName`. For each document in the collection, c is assigned a document, which is then returned as per the loop body.

In [11]:
all_characters = """
FOR c IN Characters
    RETURN c
"""

# python-arango
query_result = aql.execute(all_characters)

# pyArango
# query_result = pyAr_db.AQLQuery(all_characters, rawResults=True)

for doc in  query_result:
    print(doc)
    print()

{'_key': '4118955087', '_id': 'Characters/4118955087', '_rev': '_eU5Zka6---', 'age': 41, 'alive': True, 'name': 'Ned', 'surname': 'Stark', 'traits': ['A', 'H', 'C', 'N', 'P']}

The document features the four attributes we stored, plus three more added by the database system. Each document needs a unique `_key`, which identifies it within a collection. The `_id` is a computed property, a concatenation of the collection name, a forward slash `/` and the document key. It uniquely identies a document within a database. `_rev` is a revision ID managed by the system. Older revisions of a document cannot be accessed.
Document keys can be provided by the user upon document creation, or a unique value is assigned automatically. It can not be changed later. All three system attributes starting with an underscore `_` are read-only.

Next, let us add some more characters. The `LET` keyword defines a variable with name data and an array of objects as value, so `LET variableName = valueExpression` and the expression being a literal array definition like `[ {...}, {...}, ... ]`.

`FOR variableName IN expression` is used to iterate over each element of the data array. In each loop, one element is assigned to the variable `d`. This variable is then used in the `INSERT` statement instead of a literal object definition. What is does is basically:

In [12]:
insert_query = """
LET data = [
    { "name": "Robert", "surname": "Baratheon", "alive": false, "traits": ["A","H","C"] },
    { "name": "Jaime", "surname": "Lannister", "alive": true, "age": 36, "traits": ["A","F","B"] },
    { "name": "Catelyn", "surname": "Stark", "alive": false, "age": 40, "traits": ["D","H","C"] },
    { "name": "Cersei", "surname": "Lannister", "alive": true, "age": 36, "traits": ["H","E","F"] },
    { "name": "Daenerys", "surname": "Targaryen", "alive": true, "age": 16, "traits": ["D","H","C"] },
    { "name": "Jorah", "surname": "Mormont", "alive": false, "traits": ["A","B","C","F"] },
    { "name": "Petyr", "surname": "Baelish", "alive": false, "traits": ["E","G","F"] },
    { "name": "Viserys", "surname": "Targaryen", "alive": false, "traits": ["O","L","N"] },
    { "name": "Jon", "surname": "Snow", "alive": true, "age": 16, "traits": ["A","B","C","F"] },
    { "name": "Sansa", "surname": "Stark", "alive": true, "age": 13, "traits": ["D","I","J"] },
    { "name": "Arya", "surname": "Stark", "alive": true, "age": 11, "traits": ["C","K","L"] },
    { "name": "Robb", "surname": "Stark", "alive": false, "traits": ["A","B","C","K"] },
    { "name": "Theon", "surname": "Greyjoy", "alive": true, "age": 16, "traits": ["E","R","K"] },
    { "name": "Bran", "surname": "Stark", "alive": true, "age": 10, "traits": ["L","J"] },
    { "name": "Joffrey", "surname": "Baratheon", "alive": false, "age": 19, "traits": ["I","L","O"] },
    { "name": "Sandor", "surname": "Clegane", "alive": true, "traits": ["A","P","K","F"] },
    { "name": "Tyrion", "surname": "Lannister", "alive": true, "age": 32, "traits": ["F","K","M","N"] },
    { "name": "Khal", "surname": "Drogo", "alive": false, "traits": ["A","C","O","P"] },
    { "name": "Tywin", "surname": "Lannister", "alive": false, "traits": ["O","M","H","F"] },
    { "name": "Davos", "surname": "Seaworth", "alive": true, "age": 49, "traits": ["C","K","P","F"] },
    { "name": "Samwell", "surname": "Tarly", "alive": true, "age": 17, "traits": ["C","L","I"] },
    { "name": "Stannis", "surname": "Baratheon", "alive": false, "traits": ["H","O","P","M"] },
    { "name": "Melisandre", "alive": true, "traits": ["G","E","H"] },
    { "name": "Margaery", "surname": "Tyrell", "alive": false, "traits": ["M","D","B"] },
    { "name": "Jeor", "surname": "Mormont", "alive": false, "traits": ["C","H","M","P"] },
    { "name": "Bronn", "alive": true, "traits": ["K","E","C"] },
    { "name": "Varys", "alive": true, "traits": ["M","F","N","E"] },
    { "name": "Shae", "alive": false, "traits": ["M","D","G"] },
    { "name": "Talisa", "surname": "Maegyr", "alive": false, "traits": ["D","C","B"] },
    { "name": "Gendry", "alive": false, "traits": ["K","C","A"] },
    { "name": "Ygritte", "alive": false, "traits": ["A","P","K"] },
    { "name": "Tormund", "surname": "Giantsbane", "alive": true, "traits": ["C","P","A","I"] },
    { "name": "Gilly", "alive": true, "traits": ["L","J"] },
    { "name": "Brienne", "surname": "Tarth", "alive": true, "age": 32, "traits": ["P","C","A","K"] },
    { "name": "Ramsay", "surname": "Bolton", "alive": true, "traits": ["E","O","G","A"] },
    { "name": "Ellaria", "surname": "Sand", "alive": true, "traits": ["P","O","A","E"] },
    { "name": "Daario", "surname": "Naharis", "alive": true, "traits": ["K","P","A"] },
    { "name": "Missandei", "alive": true, "traits": ["D","L","C","M"] },
    { "name": "Tommen", "surname": "Baratheon", "alive": true, "traits": ["I","L","B"] },
    { "name": "Jaqen", "surname": "H'ghar", "alive": true, "traits": ["H","F","K"] },
    { "name": "Roose", "surname": "Bolton", "alive": true, "traits": ["H","E","F","A"] },
    { "name": "The High Sparrow", "alive": true, "traits": ["H","M","F","O"] }
]

FOR d IN data
    INSERT d INTO Characters
"""

# python-arango
aql.execute(insert_query)


# pyArango
# pyAr_db.AQLQuery(insert_query)

As before let us check the `Characters` collection, but this time only return each characters name:

In [13]:
all_characters_names = """
FOR c IN Characters
    RETURN c.name
"""
# python-arango
query_result = aql.execute(all_characters_names)


# pyArango
# query_result = pyAr_db.AQLQuery(all_characters_names, rawResults=True)

for doc in  query_result:
    print(doc)
    print()

Ned

Robert

Jaime

Catelyn

Cersei

Daenerys

Jorah

Petyr

Viserys

Jon

Sansa

Arya

Robb

Theon

Bran

Joffrey

Sandor

Tyrion

Khal

Tywin

Davos

Samwell

Stannis

Melisandre

Margaery

Jeor

Bronn

Varys

Shae

Talisa

Gendry

Ygritte

Tormund

Gilly

Brienne

Ramsay

Ellaria

Daario

Missandei

Tommen

Jaqen

Roose

The High Sparrow

# Updating Documents

**Spoiler Warning!**

According to our Ned Stark document, he is alive. When we get to know that he died, we need to change the alive attribute. Let us modify the existing document. For this we first identify the above `_key` attribute.

In [14]:
find_ned_query = """
FOR c IN Characters
    FILTER c.name == "Ned"
    RETURN c._key
"""

neds_document_key = None

# python-arango
query_result = aql.execute(find_ned_query)

# pyArango
# query_result = pyAr_db.AQLQuery(find_ned_query, rawResults=True)

for doc in  query_result:
    print("_key: " + str(doc))
    neds_document_key = doc
    print()

_key: 4118955087

Using `key` we can update an existing document:

In [15]:
kill_ned = """
UPDATE @key 
WITH { alive: false} 
IN Characters
"""
bindVars = {'key': neds_document_key}

# python-arango
aql.execute(kill_ned, batch_size=1, bind_vars=bindVars)


# pyArango
# pyAr_db.AQLQuery(kill_ned, rawResults=False, batchSize=1, bindVars=bindVars)


find_ned_query = """
FOR c IN Characters
    FILTER c.name == "Ned"
    RETURN c
"""

# python-arango
query_result = aql.execute(find_ned_query)


# pyArango
# query_result = pyAr_db.AQLQuery(find_ned_query, rawResults=True)

for doc in  query_result:
    print(doc)
    print()

{'_key': '4118955087', '_id': 'Characters/4118955087', '_rev': '_eU5Zk56--_', 'age': 41, 'alive': False, 'name': 'Ned', 'surname': 'Stark', 'traits': ['A', 'H', 'C', 'N', 'P']}

We could have also replaced the entire document content, using `REPLACE` instead of `UPDATE`:

In [16]:
kill_ned = """
REPLACE @key WITH {
    name: "Ned",
    surname: "Stark",
    alive: false,
    age: 41,
    traits: ["A","H","C","N","P"]
} IN Characters
"""
bindVars = {'key': neds_document_key}

# python-arango
aql.execute(kill_ned, batch_size=1, bind_vars=bindVars)

# pyArango
# pyAr_db.AQLQuery(kill_ned, rawResults=False, batchSize=1, bindVars=bindVars)

# Check the updated Ned document 
find_ned_query = """
FOR c IN Characters
    FILTER c.name == "Ned"
    RETURN c
"""
# python-arango
query_result = aql.execute(find_ned_query)


# pyArango
# query_result = pyAr_db.AQLQuery(find_ned_query, rawResults=True)
for doc in  query_result:
    print(doc)
    print()

{'_key': '4118955087', '_id': 'Characters/4118955087', '_rev': '_eU5ZlDW--A', 'age': 41, 'alive': False, 'name': 'Ned', 'surname': 'Stark', 'traits': ['A', 'H', 'C', 'N', 'P']}

We could again use the `FOR` loop construct from before to update all characters:

In [17]:
season_query = """
FOR c IN Characters
    UPDATE c WITH { season: 1 } IN Characters
"""
# python-arango
aql.execute(season_query)


# pyArango
# pyAr_db.AQLQuery(season_query, rawResults=False)
    
# Retrieve all characters and season they appeared    
all_characters_names_season = """
FOR c IN Characters
    RETURN {"Name" : c.name, "Season" : c.season}
"""
# python-arango
query_result = aql.execute(all_characters_names_season)

# pyArango
# query_result = pyAr_db.AQLQuery(all_characters_names_season, rawResults=True)
for doc in  query_result:
    print(doc)
    print()

Robert

Jaime

Catelyn

Cersei

Daenerys

Jorah

Petyr

Viserys

Jon

Sansa

Arya

Robb

Theon

Bran

Joffrey

Sandor

Tyrion

Khal

Tywin

Davos

Samwell

Stannis

Melisandre

Margaery

Jeor

Bronn

Varys

Shae

Talisa

Gendry

Ygritte

Tormund

Gilly

Brienne

Ramsay

Ellaria

Daario

Missandei

Tommen

Jaqen

Roose

The High Sparrow

Ned

Note, that here we customized the `RETURN` to return a json document consisting of name and season.

# Delete Documents

To fully remove documents from a collection, there is the `REMOVE` operation. It works similar to the other modification operations, yet without a WITH clause:

In [18]:
remove_ned = """
REMOVE @key IN Characters
"""
bindVars = {'key': neds_document_key}


try:
    # python-arango
    aql.execute(remove_ned, bind_vars=bindVars)
    
    # pyArango
    # pyAr_db.AQLQuery(remove_ned, rawResults=False, batchSize=1, bindVars=bindVars)
except:
    print("Ned already removed.")

# Check the updated Ned document, should be empty
find_ned_query = """
FOR c IN Characters
    FILTER c.name == "Ned"
    RETURN c
"""
# python-arango
query_result = aql.execute(find_ned_query, count=True)

# pyArango
# query_result = pyAr_db.AQLQuery(find_ned_query, rawResults=True)
if len(query_result) == 0 :
    print("Ned not found.")

Ned not found.

As you might have already guessed we can again use a `FOR` loop if we want to perform this operation for the entire collection:

In [19]:
remove_all = """
FOR c IN Characters
    REMOVE c IN Characters
"""
# python-arango
aql.execute(remove_all)

# pyArango
# pyAr_db.AQLQuery(remove_all, rawResults=False)
    
all_characters_names = """
FOR c IN Characters
    RETURN c
"""
# python-arango
query_result = aql.execute(all_characters_names, count=True)

# pyArango
# query_result = pyAr_db.AQLQuery(all_characters_names, rawResults=True)
if len(query_result) == 0 :
    print("No characters left.")

No characters left.

# Next Steps

To continue playing and learning with ArangoDB, you can:

* [Get a 2 week free Trial with the ArangoDB Cloud](https://cloud.arangodb.com/home?utm_source=Basic%20AQL%20CRUD&utm_medium=Github&utm_campaign=ArangoDB%20University)
* [Download ArangoDB](https://www.arangodb.com/download-major/)
* Keep Learning at the ArangoDB [Training Center](https://www.arangodb.com/arangodb-training-center/)

*Note: Recall that this notebook uses a temporary instance which will be autodeleted!*

# Further Links

* https://www.arangodb.com/docs/stable/aql/tutorial.html